body, html {
    height: 100%;
    margin: 0;
	-webkit-font-smoothing: antialiased;
/*  for compatibility
	-moz-font-smoothing: antialiased;*/
}

#bgimg {
    height: 100%;
}


.position {
    width: 100%;
    position: absolute;
    top: 75%;
    left: 19%;
    transform: translate(-50%, -50%);
    text-align: center;
	filter: blur(.6px);
}



/* fade in animation*/

.fade-in {
  -webkit-animation: fadeIn ease-in 0.5s;
  -webkit-animation-fill-mode: forwards;
/* for compatibility
  animation: fadeIn ease-in 2s;
  -moz-animation: fadeIn ease-in 2s;
  -o-animation: fadeIn ease-in 2s;
  -ms-animation: fadeIn ease-in 2s;
*/
}


@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:.9;}
}

/* for compatibility
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
*/




/* search box 
#search {
    opacity: 0.6;
    position: absolute;
    top: 95%;
    left: 19%;
    transform: translate(-50%, -50%);
	filter: blur(.5px);
}
*/


/*quote of the day */
div.wrap {
	word-wrap: break-word;
	width: 30%;
}
